<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-gesturepasswd" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugin/1.0">
    <name>GesturePasswd</name>
    <js-module name="GesturePasswd" src="www/gesturepasswd.js">
        <clobbers target="cordova.plugin.GesturePasswd" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GesturePasswd">
                <param name="android-package" value="org.apache.cordova.gesture.GesturePasswd" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>

        <source-file src="src/android/GesturePasswd.java" target-dir="src/org/apache/cordova/gesture" />
        <source-file src="src/android/AlertUtil.java" target-dir="src/org/apache/cordova/gesture" />
        <source-file src="src/android/ChaosGestureView.java" target-dir="src/org/apache/cordova/gesture" />
        <source-file src="src/android/GestureToast.java" target-dir="src/org/apache/cordova/gesture" />
		
		<resource-file src="src/android/res/anim/right_menu_enter.xml" target="res/anim/right_menu_enter.xml" />
		<resource-file src="src/android/res/anim/right_menu_exit.xml" target="res/anim/right_menu_exit.xml" />
						
		<resource-file src="src/android/res/drawable/btn_left_off.png" target="res/drawable/btn_left_off.png" />
        <resource-file src="src/android/res/drawable/icon_logo.png" target="res/drawable/icon_logo.png" />
        <resource-file src="src/android/res/drawable/shape_gradient.xml" target="res/drawable/shape_gradient.xml" />
        <resource-file src="src/android/res/drawable/textview_cricle_white.xml" target="res/drawable/textview_cricle_white.xml" />
        <resource-file src="src/android/res/drawable/tips_bg.xml" target="res/drawable/tips_bg.xml" />
		<resource-file src="src/android/res/drawable-hdpi/btn_left_off.png" target="res/drawable-hdpi/btn_left_off.png" />
		<resource-file src="src/android/res/drawable-xxhdpi/btn_left_off.png" target="res/drawable-xxhdpi/btn_left_off.png" />
		

        <resource-file src="src/android/res/layout/activity_close_pattern_psw.xml" target="res/layout/activity_close_pattern_psw.xml" />
        <resource-file src="src/android/res/layout/activity_setting_pattern_psw.xml" target="res/layout/activity_setting_pattern_psw.xml" />
        <resource-file src="src/android/res/layout/activity_verify_pattern_psw.xml" target="res/layout/activity_verify_pattern_psw.xml" />
		<resource-file src="src/android/res/layout/view_toast.xml" target="res/layout/view_toast.xml" />

        <resource-file src="src/android/res/mipmap-xxxhdpi/icon_finger_selected.png" target="res/mipmap-xxxhdpi/icon_finger_selected.png" />
        <resource-file src="src/android/res/mipmap-xxxhdpi/icon_finger_selected_small.png" target="res/mipmap-xxxhdpi/icon_finger_selected_small.png" />
        <resource-file src="src/android/res/mipmap-xxxhdpi/icon_finger_unselected.png" target="res/mipmap-xxxhdpi/icon_finger_unselected.png" />
        <resource-file src="src/android/res/mipmap-xxxhdpi/icon_finger_unselected_new.png" target="res/mipmap-xxxhdpi/icon_finger_unselected_new.png" />
        <resource-file src="src/android/res/mipmap-xxxhdpi/icon_finger_unselected_small.png" target="res/mipmap-xxxhdpi/icon_finger_unselected_small.png" />

        <resource-file src="src/android/res/values/attrs.xml" target="res/values/attrs.xml" />
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
		<resource-file src="src/android/res/values/dialog_style.xml" target="res/values/dialog_style.xml" />

    </platform>
</plugin>